.month-budget{
    height: 45vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25)), url(cute-pink.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.info-developer{
	/*margin-left: 150vh;*/
}

.enter-budget{
    height: 10vh;
/*    background-color:rgba(237, 140, 80, 0.2);*/
    background-color:rgb(35, 55, 220);
    opacity : 0.5;
    background-position: center;
    position: relative;
}

.budget-description{

}
