/******************************************/
/*             The whole page             */
/******************************************/

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

/******************************************/
/*             The Top Part               */
/******************************************/

.info-developer{
    margin-left: 170vh;
}
.month-budget{
    height             : 45vh;
    background-image   : linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25)), url(cute-pink.jpg);
    background-size    : cover;
    background-position: center;
    position           : relative;
}

.month-budget-description{
    text-align : center;
    color      : white;
    text-indent: 50px;
    font-family: "Arial", serif;
    font-size  : 1.8em;
}

.budget-income{

}

.budget-expnses{

}

.budget-expenses-text{

}

.budget-income-text{

}

.income-value{

}

.income-percentage{

}

.something{

}

.alsoSomething{

}

.expenses-value{

}

.expenses-percentage{

}

/******************************************/
/*           The middle Part              */
/******************************************/

.enter-budget{
    text-align      : center;
    padding         : 14px;
    border-bottom   : 1px solid #e7e7e7;
    background-color: #f7f7f7;
    display         : flex;
    opacity         : 0.6;
}

.select{
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25)), url(cute-pink.jpg);
    width           : 60px;
    margin-left     : 250px;
    position        : absolute;
    font-size       : 35px;
}

.enterItem,
.enterMoneySpentOnTheItem{
    border          : 1px solid #e7e7e7;
    background-color: #fff;
    color           : inherit;
    font-family     : inherit;
    font-size       : 14px;
    padding         : 12px 15px;
    margin-right    : 10px;
    border-radius   : 5px;
    transition      : border 0.3s;
    margin-left     : 350px;
}

.enterItem { 
    width     : 400px;
    text-align: center;
}

.enterMoneySpentOnTheItem { 
    width      : 100px;
    margin-left:30px ;
}

.enter-budget-btn{
    cursor: pointer;
    font-size: 35px;
    background: none;
    border: none;
    margin-left: 25px;
}

/******************************************/
/*           The bottom Part              */
/******************************************/

/*
.theButtomPart{
    height             : 10vh;
    border             : 1px solid #e7e7e7;
    background-color   : rgb(225, 224, 225);
    /*opacity            : 0.2;*/
   /* background-position: center;
    position           : relative;
}

*/
.budget-description{
}
