/******************************************/
/*             The whole page             */
/******************************************/

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    color      : #555;
    font-family: Open Sans;
    font-size  : 16px;
    position   : relative;
    height     : 100vh;
    font-weight: 400;
}

.red{  color : #FF5049 !important;}
.red-focus:focus{ border :1px solid #FF5049 !important; }
/******************************************/
/*             The Top Part               */
/******************************************/

.month__budget{
    height             : 40vh;
    background-image   : linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(flower.jpg);
    background-size    : cover;
    background-position: center;
    position           : relative;
}

.budget__description{
    position : absolute;
    width    : 350px;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
    color    : #fff;
}

.budget__title{
    font-size   : 18px; 
    font-weight : 300px;
    text-align  : center;
    font-family : sans-serif;
}

.budget{
    text-align     : center;
    font-size      : 46px;
    font-weight    : 300px;
    font-family    : sans-serif;
    letter-spacing : 2px;
    padding-top    : 23px;

}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.details-income{
    text-align   :center;
    font-size    : 16px;
    margin-top   : 20px;
    margin-bottom: 10px;
    display      : wrap;
}


.budget__income,
.budget__expnses{
    text-align   : center;
    font-size    : 18px;
    padding      : 12px 0px 12px 0px;
    margin-bottom: 10px;
    display      : flex;
}

.budget__income{
    background-color: #28B9B5; 
}

.budget__expnses{
    background-color: #FF5049; 
}

.budget__expenses__text,
.budget__income__text{
    font-size    : 18px;
    color        : #444;
    padding-left : 10px;
}

.details__income .income__value,
.details__income .expenses__value{
    position      :absolute;
    left          : 65%;
    letter-spacing: 2px;
}
 
/******************************************/
/*           The middle Part              */
/******************************************/

.enter__budget{
    padding         : 14px;
    border-bottom   : 1px solid #e7e7e7;
    background-color: #f7f7f7;
    display         : flex;
    flex-wrap       : wrap;
    justify-content : center;
}

.select{
    border       : 1px solid #e7e7e7;
    height       : 44px;
    color        : inherit;
    width        : 50px;
    font-size    : 18px;
    margin-right : 14px;
}

.enter__Item,
.enter__value{
    margin-right    : 14px;
    border          : 1px solid #e7e7e7;
    background-color: #fff;
    color           : inherit;
    font-family     : inherit;
    font-size       : 14px;
    border-radius   : 5px;
    transition      : border 0.3s;
}

.enter__Item { 
    width     : 400px;
    text-align: center;
    display   :wrap;
}

.enter__value { 
    width      : 100px;
    text-align: center;
}

.enter__budget__btn{
    cursor    : pointer;
    font-size : 35px;
    background: none;
    border    : none;
}

/******************************************/
/*           The bottom Part              */
/******************************************/

.container{
    position       : absolute;
    top            : 56%;
    left           : 44%;
    transform      : translate(-50%, -50%);
    width          : 900px;
    color          : grey;
    display        : flex;
    justify-content: space-between; 
    padding        : 0px 20px 0px 30px;
}

.income,
.expenses{
    width   : 350px;
    padding : 0px 20px;
}

.inc__title{
    font-family: Open Sans;
    font-size  : 22px;
    color      : #28B9B5; 
}

.exp__title{
    font-family: Open Sans;
    font-size  : 22px;
    color      : #FF5049;
}

.inc__list,
.exp__list{
    position : fixed; 
    padding : 20px 0px 20px 0px;
}

.inc__item, 
.exp__item{
    border  : 1px solid blue;
    padding : 10px 10px 10px 10px;
    width   : 350px;
    display : flex;
    justify-content: space-between; 
}

.item__description{

}

.item__value{
}

.delete__item{
}
















